<?xml version="1.0"?>
<config>
  <modules>
    <SudheerPal_GeoIPstoreSwitcher>
      <version>0.1.0</version>
    </SudheerPal_GeoIPstoreSwitcher>
  </modules>
  <global>
    <helpers>
      <geoipstoreswitcher>
        <class>SudheerPal_GeoIPstoreSwitcher_Helper</class>
      </geoipstoreswitcher>
    </helpers>
	<models>
	  <geoipstoreswitcher>
		<class>SudheerPal_GeoIPstoreSwitcher_Model</class>
		<resourceModel>geoipstoreswitcher_mysql4</resourceModel>
	  </geoipstoreswitcher>
	</models>
    <events>
	  <controller_action_postdispatch> <!-- identifier of the event we want to catch -->
        <observers>
          <controller_action_postdispatch_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>geoipstoreswitcher/observer</class> <!-- observers class alias -->
            <method>switchStore</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </controller_action_postdispatch_handler>
        </observers>
      </controller_action_postdispatch>
    </events>
  </global>
</config> 